body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  /* min-width: 980px; */

  background-image: url(../public/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box !important
}